@using Awesomely.OAuth.Facebook
@using Awesomely.OAuth.Orkut
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Awesomely OAuth Sample</title>
</head>
<body>
    <h2>
        Awesomely OAuth Sample</h2>
    <br />
    <a href="@(new FacebookUriAuthentication().GetUriInitializeAuthentication())">Facebook
        Authentication</a>
    <br />
    <a href="@(new OrkutUriAuthentication().GetUriInitializeAuthentication())">Orkut Authentication</a>
</body>
</html>
